$color-black: #1c1c1c;
$color-light-black: #4a4a4a4d;
$color-white: #ffffff;
$color-one: #81e1ff;
$color-two: #974dff;
$color-three: #ffd771;

$radius-sm: 12px;

$screen-mobile: 425px;
$screen-tablet: 768px;
$screen-laptop: 1268px;

$soft-shadow: 0px 0px 8px $color-light-black;
