.game-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 4rem;

  .game-left {
    width: 60%;

    .game-left-top {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;

      .equation-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        width: 100%;
        margin: 3rem 0;

        .equation-value {
          border: 1px solid $color-two;
          border-radius: $radius-sm;
          height: 4rem;
          width: calc(14% - (0.25rem));

          p {
            text-align: center;
          }
        }

        .equals {
          border: none;
        }
      }

      .buttons-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 8rem;
        margin-left: 1.25rem;
        height: 4rem;

        .btn {
          text-align: center;
          width: 100%;
          padding: 0.15rem 0;
          border: 1px solid $color-two;
          border-radius: $radius-sm;
          box-shadow: 0px 0px 8px $color-light-black;
          transition: color 0.5s, background-color 0.5s, transform 0.5s;

          &:first-of-type {
            color: $color-two;
            &:hover {
              cursor: pointer;
              color: $color-white;
              background-color: $color-two;
              transform: scale(0.95);
            }
          }

          &:nth-of-type(2) {
            color: $color-white;
            background-color: $color-two;
            transition: color 0.5s, transform 0.5s;
            &:hover {
              cursor: pointer;
              color: $color-two;
              background-color: $color-white;
              transform: scale(0.95);
            }
          }
        }
      }
    }

    .game-left-bottom {
      display: flex;
      width: 100%;
      height: 260px;

      .tiles-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        .tile {
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(20% - (0.25rem * 2));
          height: calc(33.33% - 0.25rem * 2);
          //margin: 0.25rem;
          text-align: center;
          background-color: $color-two;
          color: $color-white;
          border-radius: $radius-sm;
          box-shadow: 2px 2px 12px $color-light-black;
          transition: transform 0.5s;

          &:hover {
            cursor: pointer;
            transform: scale(0.9);
          }
        }
      }
    }
  }

  .game-right {
    width: 40%;
  }
}
