.hud {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0 4rem;
  //background-color: $color-one;
  font-size: 1.5rem;

  .score-wrapper {
  }

  .time-wrapper {
  }
}
